<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Thank you!</title>
    </head>
    <body>

        <h1>List of all participants!</h1>

        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Address</th>
            </tr>
            </thead>

            <tbody th:each="signup : ${signups}">
                <td th:utext="${signup.name}">Name</td>
                <td th:text="${signup.address}">Address</td>
            </tbody>
        </table>

    </body>
</html>
